# ==========================================
# Frontend (Next.js / Node / TypeScript)
# ==========================================
frontend/node_modules/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions

# Next.js Build & Outputs
frontend/.next/
frontend/out/
frontend/build/
frontend/coverage/

# Logs & Debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# Variáveis de Ambiente Frontend
frontend/.env*
!frontend/.env.example

# Vercel & Cache de Typescript
frontend/.vercel
frontend/*.tsbuildinfo

# ==========================================
# Backend (Java / Spring Boot / Maven)
# ==========================================
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/.settings/
backend/.classpath
backend/.project
backend/bin/
backend/*.log

# Variáveis de Ambiente Backend
backend/.env*
!backend/.env.example